body {
	background-color: #2197fd;
	background-image: linear-gradient(268deg, #2197fd 34%, #2152ff 79%);
}
#topic {
	font-size: 72px;
	font-weight: bold;
	background: linear-gradient(270deg, #f5cd4c 38%, #ff2c2c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}



/* #inputform{
	background-color:#7ed6df !important;
} */

/* .nav-tabs{
  background-color:#161616;
}
.tab-content{
    background-color:#303136;
    color:#fff;
    padding:5px
}
.nav-tabs > li > a{
  border: medium none;
}
.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
} */