<% include partials/headerold %>
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to Sentimental Analyser</h1>
      <h2>Want to know.....what the world thinks??</h2>
      <a href="#getstarted" class="btn-get-started">Get Started</a>
    </div>
  </section>
  
  <section id="getstarted" class="home-section color-dark bg-white">
    <div class="container marginbot-50">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.1s">
            <div class="section-heading text-center">
              <h2 class="h-bold">What To Analyse</h2>
              <div class="divider-header"></div>
              <p>
                I don't what to write here
  
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="0.8s">
            <div class="service-icon">
              <a href="/twitteranalysis"><span class="fa fa-5x"><input type="image" src="./assets/twitter.jpg" alt="twitter" width="150"
                  height="150"></img></span></a>
            </div>
            <a class="h-bold" href="/twitteranalysis">TWITTER</a>
            <p>Analyse upto 1000 tweets</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.2s">
            <div class="service-icon">
              <a href="#"><span class="fa fa-5x"><input type="image" src="./assets/youtube.png" alt="youtube" width="150"
                    height="150"></img></span></a>
            </div>
            <a class="h-bold" href="/#">YOUTUBE</a>
            <p>Analyse Coments on a Youtube video</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wow flipInY" data-wow-offset="0" data-wow-delay="1.6s">
            <div class="service-icon">
              <a href="#"><span class="fa fa-5x"><input type="image" src="./assets/amazon.jpg" alt="amazon" width="150"
                    height="150"></img></span></a>
            </div>
            <a class="h-bold" href="/#">AMAZON</a>
            <p>Analyse Amazon Products based on user reviews </p>
          </div>
        </div>
      </div>
    </div>
  </section>

<% include partials/footerold %>
