<% include partials/header %>

<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<div class="container pt-4">
  <h1 class="display-1 text-center mb-5" id="topic">
    Sentiment Analyzer
  </h1>
  <div class="row justify-content-around">
    <div class="col-md-4 bg-light rounded-lg" id="inputform">
      <form class="pt-3" onsubmit="return runAnalyzer();">
        <div class="form-group">
          <label for="searchtrend">Analyze a trend</label>
          <input
            class="form-control"
            type="text"
            name="searchtrend"
            id="searchtrend"
            placeholder="Search a trend!"
            required
          />
        </div>
        <label for="tweetcount">Tweets to analyze</label>
        <div class="row align-items-center form-group" id="tweetcount">
          <div class="col-8 pr-0">
            <input
              type="range"
              class="custom-range"
              min="30"
              max="150"
              step="1"
              value="50"
              id="tweetsrange"
            />
          </div>
          <div class="col-4">
            <input
              type="text"
              class="form-control"
              name="ntwts"
              id="numoftwtsinput"
              value="50"
            />
          </div>
        </div>
        <div class="form-group">
          <input
            type="submit"
            class="btn btn-block btn-outline-primary"
            value="Analyze"
            id="submitbtn"
          />
        </div>
      </form>
    </div>
    <div class="col-md-7 bg-light rounded-lg">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link active"
            id="nav-analysis-tab"
            data-toggle="tab"
            href="#nav-analysis"
            role="tab"
            aria-controls="nav-analysis"
            aria-selected="true"
            >Analysis</a
          >
          <a
            class="nav-item nav-link"
            id="nav-toppostweets-tab"
            data-toggle="tab"
            href="#nav-toppostweets"
            role="tab"
            aria-controls="nav-toppostweets"
            aria-selected="false"
            >Top +ve tweets</a
          >
          <a
            class="nav-item nav-link"
            id="nav-topnegtweets-tab"
            data-toggle="tab"
            href="#nav-topnegtweets"
            role="tab"
            aria-controls="nav-topnegtweets"
            aria-selected="false"
            >Top -ve tweets</a
          >
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div
          class="tab-pane fade show active"
          id="nav-analysis"
          role="tabpanel"
          aria-labelledby="nav-analysis-tab"
        >
          <div id="piechart"></div>
        </div>
        <div
          class="tab-pane fade"
          id="nav-toppostweets"
          role="tabpanel"
          aria-labelledby="nav-toppostweets-tab"
        >
          Top positive tweets over here
        </div>
        <div
          class="tab-pane fade"
          id="nav-topnegtweets"
          role="tabpanel"
          aria-labelledby="nav-topnegtweets-tab"
        >
          Top negative over here
        </div>
      </div>
    </div>
  </div>
</div>
<script src="./assets/js/twitter.js"></script>
<% include partials/footer %>
